@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #6e8efb, #a777e3);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(0deg, #4A3E94, #28293D);
    --foreground: #ededed;
    --title-color: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}
